<strong>Hello {{ user }}, </strong>
<p>
  We are here to bring you an amazing first-hand news!
  <br />
  <br />

  You just recieve an invitation from <strong>{{ company }}</strong>!
  <br />
  <br />

  Dont waste any more time and go check it out!
</p>
